body{
    margin: 3%;
    color: rgb(196,196,196);
    background-image: url(https://lh6.googleusercontent.com/-72uowLfy8IM/Thb5aLI_yuI/AAAAAAAAANo/kujZMGik7PI/s800/bg.png);
    background-color: wheat;
    background-attachment: fixed;
    background-repeat: repeat-x;
    font-family: "Gruppo", sans-serif;
}
div.cage{
    zoom: 1;
    width: 90%;
    overflow: hidden;
    border: 1px solid cornflowerblue;
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    color: rgb(255,255,255);
    background-color: cadetblue;
    box-shadow: 0 5px 15px aquamarine;
    -moz-box-shadow: 0 5px 15px aquamarine;
    -webkit-box-shadow: 0 5px 15px aquamarine;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
    margin: 0 auto;
    padding: 0.5em;
}
#inputField{
    border: none;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
.label{
    text-align: left;
    float: left;
}
.box{
    width: 100%;
    text-align: left;
    float: right;
}
#enc{
    margin-right: 10%;
}
input[type="text"]{
    width: 100%;
    text-align: center;
    letter-spacing: 0.25em;
    margin-bottom: 1em;
}
input[name="convert"]{
    width: 50%;
    height: 3em;
}
input[name="clearButton"]{
    width: 30%;
    height: 3em;
}
div.author{
    text-align: center;
    margin: 1.5em auto;
}
hr{
    width: 90%;
    border: solid cornflowerblue;
    border-width: 1px 0 0 0;
}
